.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}
.suggestions li {
  padding: 0.5rem;
}
.suggestion-active{
  background-color: #ebf6b1;
  cursor: pointer;
}
.suggestions li:hover {
  background-color: #f8f1a5;
  /*color: #196480;*/
  cursor: pointer;
  /*font-weight: 500;*/
}
.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #d1d8dc;
}
