<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>中研院植物標本館 :: HAST</title>
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" type="text/css" href="/static/css/musubii.min.css">
    {% block style %}{% endblock %}
  </head>
  <body>
  <body>
      <header class="section is-padding-top-xl is-padding-bottom-xl">
        <div class="inner is-padding-right-sm is-padding-left-md">
          <div class="grid is-middle is-between">
            <h1><span class="text is-xl is-strong">HAST</span> <span class="text is-sm">Herbarium, Academia Sinica, Taipei</span></h1>
          </div>
        </div>
      </header>
      <main class="main">
        <div class="section is-padding-horizontal-safe">
          <div class="inner is-padding-horizontal-md">
            {% block main %}{% endblock %}
          </div>
        </div>
      </main>
      <footer class="section is-footer is-padding-bottom-safe">
        <div class="inner is-padding-horizontal-md">
          <div class="box is-space-md">
            <div class="box">
              <p class="text is-center is-sm">
                <span class="text is-font-sans-en">©</span> Biodiversity Research Museum, 2022
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
