<!doctype html>
<html class="no-js" lang="zh-TW">
  <head>
    <meta charset="utf-8">
    <title>HAST::print-label</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/print-label.css') }}"/>
  </head>
  <body>
    <div class="page">
      <ul class="hast-label-container">
      {% for item in item_list %}
        <li class="hast-label-item">
          {% for id in item.identifications[1:] %}
          <div class="id-container">
            <div class="taxon">
              {% if id.taxon.rank == "species" %}
              {% set id_family = id.taxon.get_higher_taxon('family') %}
              {% if id_family %}<span class="taxon-family">{{ id_family.display_name('label') }}</span>{% endif %}
              <span class="taxon-species">{{ id.taxon.display_name('label') }}</span>
              {% endif %}
            </div>
            <div class="left-right">
              <span>Det. by {{ id.identifier.display_name('label') }}</span>
              <span>{{ id.date.strftime('%b. %d, %Y') }}</span>
            </div>
          </div>
          {% endfor %}
          <div class="institution">
            <!-- LAYOUT1 span class="institution-name">中央研究院植物標本館</span><span class="institution-code">(HAST)</span-->
            <span class="collection-name">{{ item.get_named_area_list('country').name_en }}</span>
          </div>
          <div class="taxon">
            {% set first_id_taxon = item.identifications[0].taxon %}
            {% if first_id_taxon %}
            <span class="taxon-family">{{ first_id_taxon.get_higher_taxon('family').display_name('label') }}</span>
            <span class="taxon-species">{{ first_id_taxon.display_name('label') }}</span>
            {% endif %}
        </div>

        <div class="locality">
          <span class="locality-list">{{ item.get_named_area_list()[1:]|rejectattr('data', 'none')|map(attribute='data.name_en')|join(', ') }}</span>
          {% if item.locality_text %}<span class="box">{{ item.locality_text }}</span>{% endif %}
        </div>
        <div class="geographic-position">
          {% set coordinates = item.get_coordinates('dms') %}
          {% if coordinates %}<span>{{ coordinates.x_label }}, {{ coordinates.y_label }}</span>{% endif %}
          {% if item.altitude  %}<span class="altitude">Elev. ca. {{ item.altitude }}{% if item.altitude2 %}-{{ item.altitude2 }}{% endif %} m<span>{% endif %}
        </div>
        {#
        <div class="annotation-container">
        {% if i.label_info.annotation_list.0 %}
        <div class="annotations">
          {{ i.label_info.annotation_list.0|capfirst }}.
        </div>
        {% endif %}
        {% if i.label_info.annotation_list.1 %}
        <div class="annotations">
          {{ i.label_info.annotation_list.1 }}
        </div>
        {% endif %}
        {% if i.label_info.annotation_list.2 %}
        <div class="annotations">
          {{ i.label_info.annotation_list.2|capfirst }}.
        </div>
        {% endif %}
        {% for memo in i.label_info.annotation_memo_list %}
        <div class="annotations">
          {{ memo }}.
        </div>
        {% endfor %}
        #}


        <div class="collect">
          <span class="collect-num">{{ item.collector.display_name() }} {{ item.field_number }}<span class="box companion">aa & COMP_other</span></span>
          <span class="collect-date">{{ item.collect_date.strftime('%b. %d, %Y') }}</span>
        </div>
        <!-- LAYOUT1 div class="footer">HERBARIUM, ACADEMIA SINICA, TAIPEI (HAST)</div-->
        <div class="institution"><span class="institution-name">中央研究院植物標本館</span><span class="institution-code">Herbarium, Academia Sinica, Taipei (HAST)</span></div>
        <div class="annotations">
          {% for text in item.footer_text %}
          <span class="box">{{ text }}</span>
          {% endfor %}
        </div>
      </li>
      {% endfor %}
    </ul>
    </page>
  </body>
</html>
